/* Login */

ion-content {
    --background: linear-gradient(#000A63, #6D7CFF);
  }

  ion-title {
    height: 120px;
  }

  .flex{
      display: flex;
      align-items: center;
      text-align: center;
  }

  .loginButton{
    align-items: center;
    margin-top: 250px
  }

    .Title{
      align-items: center;
      font-size: 50px;
      margin-top: 50px;
      font-family: 'Franklin Gothic Medium';
      color: #ffffff;
      font-style: normal;
      font-weight: 400
  }