/* Signup */

ion-content {
    --background: linear-gradient(#000A63, #6D7CFF);
}

.flex{
    display: flex;
    align-items: center;
    text-align: center
}

.signupBox{
  display: block;
  width: 220px;
  height: 125px;
  color: #ffffff;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.signupButton{
  text-align: center;
  margin-top: 375px
}

.Title{
  color: #000000
}


.questionnaireTitle{
  align-items: center;
  font-size: 50px;
  color: #ffffff
}

.Inputs{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-bottom: 300px;
height: 120px
}